{% extends "base.html" %}

{% load static %}

{% block content %}


<section class="space--sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="masonry">
                    
                    <div class="masonry__container row">
                        <div class="masonry__item col-lg-4 col-md-6"></div>
                        {% for thread in threadpost %}
                        <div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Marketing">
                            <article class="feature feature-1">
                                <div class="feature__body boxed boxed--border">
                                    <span>{{ thread.created_at }}</span>
                                    <h5>{{ thread.title }}</h5>
                                    <p>Comments: {{ thread.num_comments }}</p>
                                    <a href="{% url 'thread_detail' thread.slug %}">
                                        Read More
                                    </a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    <!--end of masonry container-->
                    {% if is_paginated %}
                    <div class="pagination">
                        <a class="pagination__prev" href="#" title="Previous Page">&laquo;</a>
                        <ol>
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                            </li>
                            {% endif %}
                            <li class="pagination__current">{{ page_obj.number }}</li>
                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            </li>
                            {% endif %}
                        </ol>
                        <a class="pagination__next" href="#" title="Next Page">&raquo;</a>
                    </div>
                    {% endif %}
                </div>
                <!--end masonry-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}