{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="boxed boxed--lg boxed--border">
                    <div id="account-password" class="account-tab">
                        <h4>Password Reset</h4>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {{ form.as_p }}
                                <button type="submit" class="btn btn--primary type--uppercase">Submit</button>
                            </div>
                        </form>
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg mt-5" href="{% url 'profile' %}">Profile</a>
                        {% else %}
                        <a class="btn btn-primary btn-lg mt-5" href="{% url 'login' %}">Log In</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}