{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            {% include 'accounts/profile-directory.html' %}
            <div class="col-lg-8">
                <div class="boxed boxed--lg boxed--border">
                    <div id="account-profile" class="account-tab">
                        <h4>Profile</h4>
                        <p>Username:<br>{{user.username}}</p>
                        <p>First Name:<br>{{user.first_name}}</p>
                        <p>Last Name:<br>{{user.last_name}}</p>
                        <p>Email:<br>{{user.email}}</p>
                        <p>Bio:<br>{{user.userprofile.bio}}</p>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg mt-5" href="{% url 'profile_update' %}">Update Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}