{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="height-100 imagebg text-center p-5" data-overlay="4">
    <div class="background-image-holder"><img alt="background" src="{% static 'img/inner-6.jpg' %}"></div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2 class="font-weight-bold">Register here</h2>
                <form method="post">
                {% csrf_token %}
                {% for field in form  %}
                    <p>{{ field.label }}: {{ field }}</p>
                   
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <div class="col-md-12"> 
                    <input type="submit" value="Sign Up" class="btn btn--primary type--uppercase">
                </div>
                </form>
                <span class="type--fine-print block">Have an account? <a href="#">Login</a></span> 
            </div>
        </div>
    </div>
</section>

{% endblock %}